@import 'reset.css';

body {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

/* unvisited link */
a:link {
  color: #5383e8;
}

/* visited link */
a:visited {
  color: #5383e8;
}

/* mouse over link */
a:hover {
  color: #35569a;
}

/* selected link */
a:active {
  color: #35569a;
}